.view {
  height: 100%;
  height: 100vh;
  /* margin-top: -20px; */
  background-color: cornflowerblue;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  position: relative;
}

/* .top-nav-collapse {
  background-color: rgb(12, 12, 12) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  color: black;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: rgb(12, 12, 12) !important;
  }
}



h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
} */