/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

@media (max-width: 740px) {
    html,
    body {
      height: 1000px;
    }
  }

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body {
    height: 650px;
    }
}